body{
    max-width: 1600px;
    margin: 0 auto;
}

header{
    padding: 20px 5px 0;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 16px;
}

.menu a:hover{
    color:#30B868;
    font-weight: bold;
    transition-duration: 500ms;
}

.menu a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.menu-button{
    color: white;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
}

.menu-button:hover{
    background-color: #0cee6a;
    transition-duration: 500ms;
}

main{
    padding: 0 0 0 0;
}

.hero-sec{
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.left-anim{
    background: radial-gradient(circle,  #4f8f6b 0%, #4f8f6b 25%, #a8cbb8 25%, #a8cbb8 55%, #e3efe8 55%, #e3efe8 100%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.hero-sec{
    display: flex;
    flex-direction: column;
    min-height: 600px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 0 auto;
    gap: 4px;
}

.top h3{
    font-size: 16px;
    font-weight: 500;
}

.middle{
    color: #ffffff;
}

.middle h1{
    font-size: 72px;
}

.middle span{
    color: #30B868;
}

.middle p{
    font-size: 18px;
}

.bottom{
    display: flex;
    gap: 20px;
}

.left-button{
    display: flex;
    background-color: #30B868;
    border-radius: 4px;
    padding: 12px 16px;
    align-items: center;
    gap: 5px;
}

.left-button:hover{
    background-color: #0cee6a;
    transition-duration: 500ms;
}

.left-button a{
    text-decoration: none;
    color: #ffffff;
}

.right-button{
    background-color: transparent;
    border: 3px solid #e67308;
    border-radius: 4px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.right-button a{
    text-decoration: none;
    color: #ffffff;
}

.right-button:hover{
    background-color: #e67308;
    transition-duration: 500ms;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 5px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: #000;
}

.cards-circle{
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: #e67308;
}